@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background: #e6e6e6;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container .content {
  padding: 0 200px;
}

section {
  padding: 70px 0;
}

header {
  background: #4564E5;
  min-height: 300px;
  padding: 20px 0 50px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .brand h1 {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

header nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

header nav .menu a {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
}

header .content {
  margin-top: 50px;
}

header .content h1 {
  font-size: 36px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

header .content p {
  font-size: 18px;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

header .content .search-form {
  margin-top: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 20px;
  background: #ffffff48;
  border-radius: 5px;
}

header .content .search-form i {
  font-size: 24px;
  color: #FFFFFF;
}

header .content .search-form input {
  font-size: 18px;
  border: none;
  background: transparent;
  width: 100%;
  color: #FFFFFF;
}

header .content .search-form input::-webkit-input-placeholder {
  color: #FFFFFF;
}

header .content .search-form input:-ms-input-placeholder {
  color: #FFFFFF;
}

header .content .search-form input::-ms-input-placeholder {
  color: #FFFFFF;
}

header .content .search-form input::placeholder {
  color: #FFFFFF;
}

header .content .search-form input:focus {
  outline: none;
}

.article .card {
  background: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  padding: 20px 40px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

.article .card .card-icon i {
  font-size: 54px;
  color: #535353;
}

.article .card .card-content .article-title {
  font-size: 20px;
  color: #4564E5;
}

.article .card .card-content .article-description {
  margin-top: 10px;
  font-size: 16px;
  color: #555555;
}

.article .card .card-content .creater {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article .card .card-content .creater img {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.article .card:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=style.css.map */